langchain
langchain-community
langserve
fastapi
uvicorn
transformers
huggingface_hub
sse_starlette                                                                                                                                                                    
langchain_huggingface
pytest
pytest-asyncio
httpx